@model SHF.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>SHF</b>solution</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Forgot your password?</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(SHF.Helper.busConstant.Misc.FALSE, "", new { @class = "text-danger" })

            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", Autocomplete = "false" })
                <span class="fa fa-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-xs-8">
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Email Link</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            @*<a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>*@
        </div>
        <!-- /.social-auth-links -->
        <a href="/Account/Login">I already have a membership</a><br>
        @*<a href="@Url.Action("Login","Account")">I already have a membership</a><br>*@
        @*<a href="register.html" class="text-center">Register a new membership</a>*@

    </div>
    <!-- /.login-box-body -->
</div>



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
