
@model SHF.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}




<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Del</b>mon</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new user</p>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.ValidationSummary(SHF.Helper.busConstant.Misc.FALSE, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <div class="form-group has-feedback">
                @Html.DropDownListFor(m => m.Customer_ID, ViewBag.CustomerDropdownList as IEnumerable<SelectListItem>, "--Select Customer--", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Customer_ID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">
                @Html.DropDownListFor(m => m.Branch_ID, new SelectList(string.Empty, "Value", "Text"), "-- Select Branch --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Branch_ID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "User Name", required = "required" })
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", required = "required", type = "email" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", placeholder = "Mobile No", required = "required" })
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "required" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password", required = "required" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                @*<div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>*@
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-sm btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        }


        @*<div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign up using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign up using
                        Google+
                    </a>
            </div>
            <a href="@Url.Action("Login","Account")" class="text-center">I already have a membership</a>*@

    </div>



</div>
<!-- /.register-box -->


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#Customer_ID').change(function () {
            $('#Branch_ID').empty().append('<option value="">--- Select Branch---</option>');
            $.ajax({
                type: 'GET',
                //url: BASE_URL + '/GetVillageByTalukaValue',
                url: 'Branches/GetDropdwonList',
                data: { TalukaValue: $('#Customer_ID').val() },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: true,
                processData: true,
                cache: true,
                beforeSend: function (xhr) {
                    //$.blockUI({ message: $('#domBlockUI') });
                },
                success: function (result, status, xhr) {
                    $.each(result, function (i, branch) {
                        $('#Branch_ID').append('<option value="' + branch.Value + '">' + branch.Text + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    swal({
                        title: 'Oops!',
                        text: 'Please select another customer!',
                        icon: 'error',
                    });
                },
                complete: function (xhr, status) {
                    console.clear();
                    //$.unblockUI();
                },
            });
        });
    </script>

}


